// bower:scss
@import "foundation-sites/scss/foundation.scss";
// endbower
@include foundation-everything;

// Top Nav.
.nav {
    &__logo{
       float:left;
    }
    &__list{
        float:right;
        padding: 12.5px 0;
    }
}
// Side list.
.sidenav {
    margin-top: 0.5rem;
    background: #fafafa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__link {
        font-size: 0.85rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:hover {
            background: rgba(#000, 0.05);
        }
        &--active {
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 0.75rem;
        color: #999;
        font-weight: bold;
        line-height: 1;
        padding-left: 0.9rem;
        margin-bottom: 0.5rem;
    }

}



